body {
  padding: 50px 0;
  font: 38px "Lato", Arial, sans-serif;
  background: #203e5f;
  color: #fff;
}

a {
  color: #00B7FF;
}

.header {
  padding: 25px;
  text-align: center;
  background: rgba(0, 0, 0,.15);
}

section {
    padding: 25px 50px;
}

section:nth-child(even) {
  background: rgba(0, 0, 0,.15)
}

.form-control {
  width: auto;
  margin: 10px;
}

button {
  float: right;
  background-color: #ffcc00;
  margin: 20px;
  margin-right: 100px;
  padding: 5px 20px;
  outline: none;
  border: none;
  box-shadow: 5px 5px 10px rgba(0,0,0,.2);
}